@using Vindo.BackOfficeUI.Models.ApexChart
@using Vindo.BackOfficeUI.Models.Colors
@using Vindo.BackOfficeUI.Models.LineChart
@using Vindo.BackOfficeUI.Models.MorrisBarChart
@using Vindo.BackOfficeUI.Models.ProgressSteps
@using Vindo.BackOfficeUI.Models.Tables
@using Vindo.BackOfficeUI.Pages.Dashboard
@using Vindo.BackOfficeUI.Pages.Dashboard.CardHighlight
@using Vindo.BackOfficeUI.Pages.Dashboard.ProgressBarCircle
@using Vindo.BackOfficeUI.Pages.Dashboard.SimpleTable
@using Vindo.Models.Domains.User

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container-full">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <BarChartBox AverageValue=600 CurrentValue=1500 Title="Riders Online" Data=barChartBoxdata ToolTip="Orders"></BarChartBox>
                </div>
                <div class="col-12 col-lg-4">
                    <LineChartBox AverageValue=300 CurrentValue=2000 Title="Monthly Orders" Data=lineChartBoxdata MetricName="Orders"></LineChartBox>
                </div>
                <div class="col-12 col-lg-4">
                    <SparkLineBox AverageValue="200" CurrentValue=70.5m Title="Orders Load" Data=sparkLineBoxdata></SparkLineBox>
                </div>
                <div class="col-xl-6 col-12">
                    <ApexChart Data=apexChartData Title="Orders Overview" />
                    <ProgressBarCircleContainer ProgressBars=progressBars Title="Revenue Growths (%)" />
                </div>
                <div class="col-xl-6 col-12">
                    <CardHighlightContainer CardHighlights=cardHighlights />
                    <MorrisBarChart Data=morrisBarChartData PreUnit="$" Title="Stock Report" />
                    <ProgressSteps Steps=progressStepsData />
                    <QuickNote Topic="Quick Note" Description="Sample Description From Shared Component" PromptText="Submit" Mood=ColorMood.Warning Theme=ColorTheme.GradientLight />
                </div>
                <div class="col-xl-8 col-12">
                    <SimpleTable Data=tableData Title="User Reports Auto Generated" >                       
                    </SimpleTable>
                    <SimpleTable Title="User Reports Manual Content Population" >
                        <HeaderContent>
                            <th>User</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Act.</th>
                        </HeaderContent>

                        <RowContent>
                            @foreach(var user in users)
                            {
                                <tr>
                                    <td><img src="@user.ImageUrl" alt="" class="avatar-sm rounded-circle mr-2">@user.Username</td>
                                    <td>@user.Email</td>
                                    <td>@user.FirstName @user.LastName</td>
                                    <td> <span class=@(user.IsActive? "badge badge-primary":"badge badge-danger")>@user.IsActive</span></td>
                                    <td>
                                        <a href="#" class="mr-2" @onclick="HandleAction1"><i class="fa fa-edit text-info"></i></a>
                                    </td>
                                </tr><!--end tr-->
                            }
                        </RowContent>
                    </SimpleTable>

                </div>
                <div class="col-xl-4 col-12">
                    <MorrisAreaChart Data=morrisAreaChartData Color=ColorMood.Secondary Title="Sales Volume" />

                    <div class="box box-body bg-danger">
                        <h4>
                            <span class="text-white">Visitors</span>
                            <span class="float-right"><a class="btn btn-xs btn-primary" href="#">View</a></span>
                        </h4>
                        <br>
                        <p class="font-size-26 text-white pt-1">84,9658</p>
                        <div class="flexbox font-size-18 text-white">
                            <span><i class="ion-arrow-graph-down-right text-white mr-1"></i> %54 up</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>
<!-- /.content-wrapper -->
@code {

    RenderFragment[][]? progressBars;
    RenderFragment[][]? cardHighlights;
    RenderFragment[]? simpleTableActions;

    IList<decimal>? barChartBoxdata;
    IList<ChartPoint>? lineChartBoxdata;
    IList<decimal>? sparkLineBoxdata;
    ChartData<int>? apexChartData;
    IEnumerable<DataPoint>? morrisBarChartData;
    IEnumerable<DataPoint>? morrisAreaChartData;

    IEnumerable<ProgressStep>? progressStepsData;
    TableData? tableData;
    IList<UserDto>? users;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeDashboardCharts");
        }
    }

    protected override void OnInitialized()
    {
        PopulateSeedData();
        RenderFragments();
    }

    void RenderFragments()
    {

        progressBars = new RenderFragment[][]
        {
            new RenderFragment[]
            {
                CreateProgressBar("Weekly", 30),
                CreateProgressBar("Monthly", 90)
            },
            new RenderFragment[]
            {
                CreateProgressBar("Quarterly", 55),
                CreateProgressBar("Yearly", 75)
            },
        };

        cardHighlights = new RenderFragment[][]
        {
            new RenderFragment[]
            {
                CreateCardHighlight("Last Month", 12, 10200, "Views", true),
                CreateCardHighlight("Last Quarter", 3, 655, "Subscriptions", false),
                CreateCardHighlight("Last Week", 1.5, 105000, "Videos", true),

            },
            new RenderFragment[]
            {
                CreateCardHighlight("Last Year", 12, 10200, "Users", true),
                CreateCardHighlight("Last 2 Years", 0.1, 10100, "Users", false),
                CreateCardHighlight("Last 3 Years", 1.5, 10000, "Users", false),
            },
        };
    }

    void PopulateSeedData()
    {
        Random random = new Random();

        barChartBoxdata = new List<decimal>() {
            random.Next(0, 100),
            random.Next(0, 100),
            random.Next(0, 100),
            random.Next(0, 100),
            random.Next(0, 100),
        };


        lineChartBoxdata = new List<ChartPoint>() {
            new ChartPoint { XAxis = DateTime.UtcNow.AddDays(-10), YAxis=random.Next(0, 61)},
            new ChartPoint { XAxis = DateTime.UtcNow.AddDays(-9) , YAxis=random.Next(0, 61)},
            new ChartPoint { XAxis = DateTime.UtcNow.AddDays(-8) , YAxis=random.Next(0, 61)},
            new ChartPoint { XAxis = DateTime.UtcNow.AddDays(-7) , YAxis=random.Next(0, 61)},
            new ChartPoint { XAxis = DateTime.UtcNow.AddDays(-6) , YAxis=random.Next(0, 61)},
            new ChartPoint { XAxis = DateTime.UtcNow.AddDays(-5) , YAxis=random.Next(0, 61)},
            new ChartPoint { XAxis = DateTime.UtcNow.AddDays(-4) , YAxis=random.Next(0, 61)},
            new ChartPoint { XAxis = DateTime.UtcNow.AddDays(-3) , YAxis=random.Next(0, 61)},
            new ChartPoint { XAxis = DateTime.UtcNow.AddDays(-2) , YAxis=random.Next(0, 61)},
            new ChartPoint { XAxis = DateTime.UtcNow.AddDays(-1) , YAxis=random.Next(0, 61)},

        };

        sparkLineBoxdata = new List<decimal>() {
            random.Next(0, 1000),
            random.Next(0, 1000),
            random.Next(0, 1000),
            random.Next(0, 1000),
            random.Next(0, 1000),
            random.Next(0, 1000),
            random.Next(0, 1000),
            random.Next(0, 1000),
            random.Next(0, 1000),
            random.Next(0, 1000),
            random.Next(0, 1000),
            random.Next(0, 1000),
            random.Next(0, 1000),
            random.Next(0, 1000),
            random.Next(0, 1000),
            random.Next(0, 1000),
            random.Next(0, 1000),
            random.Next(0, 1000),
            random.Next(0, 1000),
            random.Next(0, 1000)
        };

        apexChartData = new ChartData<int>
            {
                XAxis = new List<string>
        {
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December"
        },
                Series = new List<ApexChartSeriesData<int>>
        {
            new ApexChartSeriesData<int>
            {
                Name = "Online",
                Data = new List<int> {
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                }
            },
            new ApexChartSeriesData<int>
            {
                Name = "In Store",
                Data = new List<int> {
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                }
            },
            new ApexChartSeriesData<int>
            {
                Name = "Total Visits",
                Data = new List<int> {
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                    random.Next(0, 1000),
                }
            }

        }
            };

        morrisBarChartData = new List<DataPoint>
        {
            new DataPoint
            {
              XKey = "Dangote Cement",
              Values = new Dictionary<string, object>
              {
                  {"EPS", 23.1},
                  {"P/E Ratio", 2.3},
                  {"Cash Flow Ratio", 12.2},
              }
            },
            new DataPoint
            {
              XKey = "BUA Cement",
              Values = new Dictionary<string, object>
              {
                  {"EPS", 22.6},
                  {"P/E Ratio", 5.3},
                  {"Cash Flow Ratio", 9.7},
              }
            },
            new DataPoint
            {
              XKey = "Dangote Sugar",
              Values = new Dictionary<string, object>
              {
                  {"EPS", 1.6},
                  {"P/E Ratio", 50.6},
                  {"Cash Flow Ratio", 1.1},
              }
            },
            new DataPoint
            {
              XKey = "Flour Mills Of Nigeria",
              Values = new Dictionary<string, object>
              {
                  {"EPS", 25.3},
                  {"P/E Ratio", 95.3},
                  {"Cash Flow Ratio", 30},
              }
            }
        };

        morrisAreaChartData = new List<DataPoint>
        {
            new DataPoint
            {
              XKey = "2013",
              Values = new Dictionary<string, object>
              {
                  {"Data", 0},
                  {"Data2", 0},
              }
            },
            new DataPoint
            {
              XKey = "2014",
              Values = new Dictionary<string, object>
              {
                  {"Data", 55},
                  {"Data2", 20},
              }
            },
            new DataPoint
            {
              XKey = "2015",
              Values = new Dictionary<string, object>
              {
                  {"Data", 25},
                  {"Data2", 55},
              }
            },
            new DataPoint
            {
              XKey = "2016",
              Values = new Dictionary<string, object>
              {
                  {"Data", 65},
                  {"Data2", 17},
              }
            }
        };



        progressStepsData = new List<ProgressStep>
    {
        new ProgressStep{StepName = "Planning", IsDone=true},
        new ProgressStep{StepName = "Design", IsDone=true},
        new ProgressStep{StepName = "Development", IsDone=true},
        new ProgressStep{StepName = "Deployment", IsDone=true},
        new ProgressStep{StepName = "QA", IsDone=false},

    };

        users = new List<UserDto>
    {
        new UserDto
        {
            Id =Guid.NewGuid().ToString(),
            FirstName = "JD",
            LastName = "Josek",
            Email = "jd@gmail.com",
            Username = "+123456789",
            ImageUrl = "../images/avatar/1.jpg",
            IsActive = true
        },
        new UserDto
        {
            Id =Guid.NewGuid().ToString(),
            FirstName = "MJ",
            LastName = "Domi",
            Email = "mj@gmail.com",
            Username = "+123456789",
            ImageUrl = "../images/avatar/2.jpg",
            IsActive = true
        },
        new UserDto
        {
            Id =Guid.NewGuid().ToString(),
            FirstName = "DM",
            LastName = "Google",
            Email = "dm@gmail.com",
            Username = "+123456789",
            ImageUrl = "../images/avatar/3.jpg",
            IsActive = false
        },
        new UserDto
        {
            Id =Guid.NewGuid().ToString(),
            FirstName = "KS",
            LastName = "Amazon",
            Email = "ks@gmail.com",
            Username = "+123456789",
            ImageUrl = "../images/avatar/4.jpg",
            IsActive = false
        },
        new UserDto
        {
            Id =Guid.NewGuid().ToString(),
            FirstName = "TL",
            LastName = "Liva",
            Email = "tl@gmail.com",
            Username = "+123456789",
            ImageUrl = "../images/avatar/5.jpg",
            IsActive = true
        },
        new UserDto
        {
            Id =Guid.NewGuid().ToString(),
            FirstName = "MP",
            LastName = "Sky",
            Email = "mp@gmail.com",
            Username = "+123456789",
            ImageUrl = "../images/avatar/6.jpg",
            IsActive = false
        }
    };

        tableData = TableDataGenerator.GenerateTableData<UserDto>(users, new Dictionary<string, CellType>
        {
            { "ImageUrl", CellType.Image},
            { "IsActive", CellType.Badge},
        }, (record, propertyName) =>

    {
    var user = record as UserDto;
    if (propertyName == "IsActive")
    {
        if (user.IsActive)
        {
            return ColorMood.Success;
        }
        else
        {
            return ColorMood.Danger;
        }
    }

    return null;
    });

    }

    private Task<bool> HandleAction1(MouseEventArgs args)
    {
        return Task.FromResult(false);
    }


    RenderFragment CreateProgressBar(string title, double value) => builder =>
    {
        builder.OpenComponent<ProgressBarCircle>(0);
        builder.AddAttribute(1, "Value", value);
        builder.AddAttribute(2, "Title", title);
        builder.CloseComponent();
    };

    RenderFragment CreateCardHighlight(string timePeriod, double growthRate, decimal currentValue, string metricName, bool isUpwardMetric) => builder =>
    {
        builder.OpenComponent<CardHighlight>(0);
        builder.AddAttribute(1, "TimePeriod", timePeriod);
        builder.AddAttribute(2, "GrowthRate", growthRate);
        builder.AddAttribute(3, "CurrentValue", currentValue);
        builder.AddAttribute(4, "MetricName", metricName);
        builder.AddAttribute(5, "IsUpwardMetric", isUpwardMetric);
        builder.CloseComponent();
    };

}

@inject IJSRuntime JSRuntime
